<div id="carousel-example-generic" class="carousel slide carousel_search">
	<div class="carousel_overlay_div">
		<div class="container container_home">
			<div class=" col-lg-8 center_overlay overlay-search">
				<div class="form-group">
					<p class="home_margin text-center home_font"></p>
					<input type="text" class="form-control" id="search_speciality" placeholder="Search">
				</div>
			</div>
		</div>
	</div>
	<!-- Wrapper for slides -->
	<div class="carousel-inner carousel-inner-search">
		<div class="item active bg_image1">
		</div>
		<div class="item bg_image2">
		</div>
		<div class="item bg_image13">
		</div>
	</div>
</div>

<div class="container container_item_page dish_search_page_min_height">
		<div class="row">
		<div class="col-lg-6 row_search_page">
			<!-- <input type="text" style="padding-top:3.5px;padding-bottom:3.5px;width:355px;"> -->
		</div>
		<div class="col-lg-2 col-lg-offset-4 row_search_page">
			<span class="sort-title">Sort</span>
			<span>
				 <img src="<%= asset_path 'dollar-png.png'%>" class='sort-dishes' data-value='cost' title="Cost">
				 <img src="<%= asset_path 'rating-png.png'%>" class='sort-dishes' data-value='total_ratings' title="Rating">
				 <img src="<%= asset_path 'location-png.png'%>" class='sort-dishes' data-value='location' title="Location">
			</span>
			<button class="btn btn-success search_filter_opener">Filter</button>
		</div>

			<div class="row_search_page col-lg-6 filter_option_selector_container">
				<p class="popular_tags_title">Popular Tags</p>
				<div class="popular_tags"> 
					<% @trending_tags_array.each do|tags_array| %>
						<span class="popular_tag <%="active" if @tags.include? tags_array[0].name %>">
							<%= tags_array[0].name %>
						</span>
					<% end %>
				</div>
				<div>
					<p class="popular_tags_title">Custom Filters</p>
					<input class="tags_autocomplete tags_filter_autocomplete single-input-hack new_item_form_input">
				</div>
			</div>
			<div class="row_search_page col-lg-6 filter_option_selector_container">
				<p class="popular_tags_title">How much ?</p>
				<input type="range" name="points"  id="range" value="50" min="1" max="1000">
					<span class="price_span_rs">$</span>
					<span class="price_span" id="range_value">50</span>
					<p class="popular_tags_title padding-top-location-filter">Where ?</p>
				<div class="location_css_search">
					<input class="single-input-hack padding-top-location"  id="searchAutocomplete">
				</div>
			</div>

	<div class="col-lg-9 search_tag_list_container filter-tag-list" style="display:none;">
		You are currently looking for  
	</div>

		<div class="col-lg-12 search_dish_container">
			<%= render :partial => 'home/recently_added_dish',
																						:collection => @dishes, :as => :dish %>
		</div>


			</div>
	</div>
</div>

<script>
	// $('.search_filter_slidedown').hide();
	$('.search_filter_opener').click(function()
	{
		$('.filter_option_selector_container').each(function()
		{
			if($(this).is(':visible'))
			{
				$(this).slideUp();
			}
			else
			{
				$(this).slideDown();
			}	
		})
		
	});
	$(document).ready(function () {
		addTag('<%= @onload_tags %>', true);
		setLocation('<%= @onload_location %>', true);
		name = '<%= @onload_name %>';
		$('#range').change(function()
		{
			$('#range_value').html($(this).val());
			setCost($(this).val());
		})
		$('.popular_tag').click(function () {
			var $this = $(this);
				$this.toggleClass("active"),
				text = $this.text().trim();
			if ($this.hasClass("active")) {
				addTag(text);
			} else {
				removeTag(text);
			}
		})
	});
	searchPage = true;
</script>
