<div class="container container_item_page white_background">

	<div class="col-lg-12 user_profile_page ">
    <div class="row row_modify">
    <div class="col-lg-4 ">
    <%= foodie_profile_image(@user, "review", "user_profile_image ") %>
    <span class="user_name_profile" style="height: 18px;width: 120px;overflow: hidden;white-space: nowrap;"><%= @user.name %></span>
    </div>
    <div class="col-lg-4 col-lg-offset-4 user_stats">
      <span id="user_rating" class="user_stats_span"><%= @user.ratings_given.size %> Ratings</span>
      <span id="user_reviews" class="user_stats_span"><%= @user.reviews.size %> Reviews</span>
      <span id="user_points" class="user_stats_span"><%= @user.calculate_score %> Points</span>
    </div>
  </div>
  </div>
  <div class="col-lg-12 col-lg-12-modify">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#reviews" data-toggle="tab">Ratings / Reviews</a></li>
    <li><a href="#items" data-toggle="tab">My Items</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="reviews">
      <%= render :partial => 'home/recently_added_dish',
        :collection => user_review_rated_dishes(@user), :as => :dish %>
    </div>
    <div class="tab-pane" id="items">
      <%= render :partial => 'home/recently_added_dish',
        :collection => @user.dishes, :as => :dish %>
    </div>
  </div>
</div>

</div>

<script>
  var url = document.location.toString();
  if (url.match('#')) {
    $('.nav-tabs a[href=#' + url.split('#')[1]+']').tab('show');
  }

  $('.nav-tabs a').on('shown', function(e) {
    window.location.hash = e.target.hash;
  });

  $(function() {
    $('#myTab a:last').tab('show');
  })
</script>
