<% tag = tag_score_array.first %>
<% score = tag_score_array.last %>
<% dish = tag.dishes.first %>
<div class="col-md-3 component_front  component_margin_right component_margin_bottom ">
	<div class="front_component">
		<%= image_tag dish_show_image_path(dish.id) %>
		<div class="component-caption">
			<p class="tag_name"><%= tag.name.camelcase %></p>
		</div>
	</div>
	<div class="back_component">
		<div class="back_component_first">
			<p class="back_component_first_heading text-center"><%= dish.name.to_s.camelcase %></p>
			<p class="back_component_first_content text-center">
				<%= dish.restaurant_name.to_s.camelcase %></p>
		</div>
		<div class="back_component_color">
			<p class="back_component_content"><span class="glyphicon glyphicon-heart icon_size"></span><%= dish.avg_ratings || 0.0 %></p>
		</div>
		<div class="back_component_white">
			<p class="back_component_content"><span class="glyphicon glyphicon-usd icon_size"></span>100</p>
		</div>
		<div class="back_component_color">
			<p class="back_component_content"><span class="glyphicon glyphicon-globe icon_size"></span><%= dish.location_address || "Velachery" %></p>
		</div>
		<div class="back_component_last back_center">
			<!-- <button type="button" class="btn btn-success ">view more</button> -->
			<%= link_to "View more", dish_path(dish) %>
		</div>
	</div>
</div>
