<h1>Listing dishes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Location</th>
    <th>Description</th>
    <th>Restaurent</th>
    <th>Avg points</th>
    <th>No of ratings</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.user_id %></td>
    <td><%= dish.location_id %></td>
    <td><%= dish.description %></td>
    <td><%= dish.restaurant_id %></td>
    <td><%= dish.avg_points %></td>
    <td><%= dish.no_of_ratings %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_dish_path %>
