<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>User:</b>
  <%= @dish.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @dish.description %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @dish.restaurant_name %>
</p>

<p>
  <b>Avg points:</b>
  <%= @dish.avg_ratings %>
</p>

<p>
  <b>No of ratings:</b>
  <%= @dish.no_of_ratings %>
</p>

<p>
  <b>Image</b>
  <%= image_tag dish_show_image_path(@dish.id) %>
</p>

<p>
  <b>Awesomeness:</b>
  <%= rating_stars(@dish) %> <%= rating_average(@dish) %>
  No of people who rated : <%= awesomeness_qty(@dish) %>
</p>
<p>
  <% (@dish.tags || []).each do |tag| %>
    <b> "<%= tag.name %>" <b> 
  <% end %>
<p>
    <meta name="viewport" content="initial-scale=4.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body, #map-canvas {
        height: 80%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng("<%=@dish.location.latitude%>","<%=@dish.location.longitude%>");
  var mapOptions = {
    zoom: 11,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div id="map-canvas"></div>
<p class="reviews_container">
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <%= review.description %>
      <%#= review.user.name %>
      <%#= review.user.no_of_reviews %>
      <br />
    <% end %>
  <% end %>
</p>

<p>
  Add a review
  <%= form_for(@new_review, remote: true) do |new_review| %>
    <div class="field">
      <%= new_review.label :description %><br /> 
      <%= new_review.text_field :description %>
    <div>
      <%= new_review.hidden_field :dish_id, :value => @dish.id %>
      <%= new_review.submit %>
  <% end %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
