<%= javascript_include_tag :dishes %>
<div class="container container_item_page">
	<div class="row item_info_box row_modify">
		<div class="col-lg-12 section_item">
			<div class="row row_item">
				<div class="item_same_line">
          <%= rendering_image_data(@dish, "item_info_bar") %>
				</div>
				<div class="item_same_line item_main_info">
					<div class="item_description_div">
						<p class="item_title"><%= @dish.name %></p>
						<p class="item_restaurant"><%= @dish.restaurant_name %></p>
						<p class="item_description_content"><%= @dish.description %></p>
						<div class="dish_info_footer">
							<div class="item_same_line_info">
								<span class="info_poster">Posted by : </span>
                <span class="info_poster_name"><%= link_to @dish.user.name,
                 user_path(@dish.user) %></span>
							</div>
							<div class="item_same_line_info">
								<span class="info_poster">Tags : </span>
								<% (@dish.tags || []).each do |tag| %>
								<span class="info_poster_name"><%= tag.name %></span>
								<% end %>
							</div>
							<div class=" black_box black_box_margin">
								<span>Rate this dish<span>
								<div class="ratings_container">
									<%= rating_stars(@dish) %>
								</div>
							</div>
							<div class="black_box">
								<span class="info_poster write_review"><a href="#" >WRITE A REVIEW</a> </span>
								<span class="info_poster_name" style="margin-left:40px;margin-right:20px;"><%= @dish.reviews.count%> SO FAR</span>
							</div>
						</div>
					</div>
					<div class="item_properties_div">
						<div class="item_description_div_points">
							<p class="item_description_div_point">
								<span class="ratings_average"><%= (@dish.avg_ratings || 0.0).to_f.round(2) %></span></p>
							<p class="item_description_div_rating">
								<span class="no_of_people_rated"><%= @dish.no_of_ratings || 0 %></span> rating</p>
						</div>
						<div class="item_description_div_cost">
							<p class="item_description_div_cost_value"> $ <%=@dish.cost || 0%>  </p>
						</div>
						<% if @dish.user == current_or_guest_user %>
							<div class="item_description_div_cost_edit">
								<p class="item_description_div_cost_value"> <%= link_to "Edit Dish", edit_dish_path(@dish), :class => "btn btn-danger header_btn", :id => "edit_dish" %> </p>
							</div>
						<% end %>
					</div>
				</div>
			</div>  
			<div class="row  row_item green_border">
				<div class="restaurant_address">
					<p class="address_text"><%= @dish.location_address || "Velachery" %></p>
					<a href="#" class="right_anchor map_opener"> Show on map </a> 
				</div>
				<div class="row row_item map">
					<%#= @dish.location_address || "Velachery" %>
					<div id="map-canvas"></div>
				</div>
			</div>
		</div>
        
	</div>

	<div class="row item_info_box row_modify reviews_container">
		<div class="col-lg-12 reviews_top_bar">
			<p class="address_text">Write a review for <span class="color_green"><%=@dish.restaurant_name.to_s.capitalize%></span> at <%= (@dish.location_address || "Velachery").capitalize %></p>
			<a href="#" class="right_anchor write_review"> Write review </a> 
			<p href="#" class="right_anchor_p"> <%= @dish.reviews.size - 1 %> reviews </p> 
		</div>
		<div class="review_pagination_controller">
			<% if @dish.reviews.size > 1 %>
			<%= render :partial => 'review', :collection => @dish.reviews, :as => :review %>
			<% end %>
		</div>

		<div class="col-lg-12 reviews_comment">
			<p class="comment_heading">
				WRITE A REVIEW FOR <span class="color_green">SOMETHING</span> AT SOMEWHERE
			</p>
			<%= form_for(@new_review, remote: true) do |new_review| %>
        <div id="error_explanation">
        </div>
			<!-- <textarea class="commment_textarea"></textarea>  -->
			<%= new_review.text_area :description, :class => "commment_textarea" %>
			<%= new_review.hidden_field :dish_id, :value => @dish.id %>
			<button class="btn btn-success right_button">SUBMIT REVIEW</button>
				<%= new_rating %>
			<% end %>
		</div>

	</div>

</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
$('.map_opener').click(function()
{
	console.log('I am in map opener');
	if($('.map').is(':visible'))
	{
		// var height = $('.section_item').css('height') - $('.map').css('height');
		$('.map').slideUp();
		// $('.section_item').css('height',height);
	}
	else
	{
		// var height = $('.section_item').css('height') + $('.map').css('height');
		$('.map').slideDown();
		// $('.section_item').css('height',height);

		//If opening for the first Time, initialize GMaps
		if (!$('.map').data('rendered')) {
			showLocationOnMap("<%=@dish.location.latitude%>","<%=@dish.location.longitude%>");
			$('.map').data('rendered', true);
		}
	}

	return false;
});
</script>


