<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Dish:</b>
  <%= @review.dish_id %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
