<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container my_container_header">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%=root_path%>">
				<img class="logo_brand"  src="<%= asset_path 'Speciality-Home.png' %>">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse header_collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right ">
				<li>
					<a href="#" id="current_city" >San Fransisco</a>
				</li>
				<li>
					<%= link_to "Discover", search_path %>
				</li>
				<li class="navbar_list">
					<%= link_to "Add Dish", new_dish_path, :class => "btn btn-danger header_btn", :id => "add_dish" %>
				</li>
				<li class="navbar_list">
					<div class="dropdown">
						<%= link_to current_user? ? "Guest User" : "My Account", "#", :class => "btn btn-danger", :id => "my-account" , :'data-toggle' => "dropdown" %>
						<ul class="dropdown-menu dropdown-menu-home-logged-out" role="menu" aria-labelledby="dLabel">
							<li><%= link_to "My Dishes", user_path(current_or_guest_user) + "#items", :class =>"header_my_dishes"  %></li>
							<li><%= link_to "My Reviews", user_path(current_or_guest_user) + "#reviews", :class =>"header_my_reviews"  %></li>
							<% unless current_user?%> 
								<li><%= link_to "Log out", destroy_user_session_path, :method => :delete ,:class =>"header_my_logout"  %></li>
							<% end %>
						</ul>
					</div>
					
				</li>
				<% if current_user? %> 
					<li class="navbar_list">

						<div class="dropdown">
							<%= link_to "Login", "#", :class => "btn btn-danger", :id => "login" , :'data-toggle' => "dropdown" %>
						
							<ul class="dropdown-menu dropdown-menu-home-logged-out" role="menu" aria-labelledby="dLabel">
								<li><a href="/users/auth/facebook" class="facebook"><img src="<%= asset_path 'login-facebook-icon.png' %>"><span style="padding-left:20px;">Sign in with facebook</span></a></li>
								<li><a href="/users/auth/twitter" class="twitter"><img src="<%= asset_path 'login-twitter-icon.png' %>"><span style="padding-left:20px;">Sign in with Twitter</span></a></li>
							</ul>
						
						</div>
					
					</li>
				<% end %> 
				
			</ul>
		</div>
	</div>
	<!-- /.navbar-collapse -->
</nav>
