<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img class="logo_brand"  src="<%= asset_path 'Speciality-Home.png' %>">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse header_collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right ">
				<li>
					<a href="#">Chennai</a>
				</li>
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<a href="#">Discover</a>
				</li>
				<li class="navbar_list">
					<%= link_to "Add Dish", new_dish_path, :class => "btn btn-danger", :id => "add_dish" %>
				</li>
				<li class="navbar_list">

					<div class="dropdown">
						<%= link_to "My Account", "#", :class => "btn btn-danger", :id => "login" , :'data-toggle' => "dropdown" %>
                              <ul class="dropdown-menu dropdown-menu-home" role="menu" aria-labelledby="dLabel">
                              	 <% if current_user? && false %> 
	                              	 <li><a href="/users/auth/facebook" class="facebook">Sign in with facebook</a></li>
	                                <li><a href="/users/auth/twitter" class="twitter">Sign in with Twitter</a></li>
								  <% else %>
								    <li><%= link_to "Log out", destroy_user_session_path, :method => :delete ,:class =>"facebook"  %></li>
								  <% end %>     
                              </ul>
                    </div>
					
				</li>
			</ul>
		</div>
	</div>
	<!-- /.navbar-collapse -->
</nav>