<% @new_dish = @dish || Dish.new %>
<div class="modal fade" id="edit_item_modal">
		<div class="modal-dialog ">
			<div class="modal-content add_item_container">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <p class="new-item-heading">Editing "<%= @new_dish.name %>"</p>
				</div>
				<div class="modal-body">
					<%= form_for(@new_dish, remote: true, format: :json, multipart: true) do |f| %>
						<div id="error_explanation">
						<% if @new_dish.errors.any? %>
							<h2>
								<%= pluralize(@new_dish.errors.count, "error") %> prohibited this dish from being saved:</h2>
							<ul>
								<% @new_dish.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
								<% end %>
							</ul>
						<% end %>
						</div>
						<div class="col-lg-4 new_item_image_container">
								<h5 style="text-align:center;">PHOTO</h5> 
								<img src="<%= asset_path 'default-new-item.png' %>" class="new_item_image">
								<div class="custom-file-upload btn btn-success new_item_upload_button" >
	                               <div class="file-upload">
	                                	<span class="file-upload-text"><%= 'Upload Image' %></span>
	                               </div>
	                               <input class="span" name="dish[attachment]" 
	                                                       size="30" type="file" accept='image/*'>
								</div>
								<%#= f.file_field :attachment, :class => "new_item_upload_button" %>
								<!-- <button type="button" class="btn btn-success new_item_upload_button">Upload</button> -->
						</div>
						<div class="col-lg-8 new_item_details_container">
								<div class="form-group">
									<h5>NAME</h5>
									<%= f.text_field :name, :class=>"form-control new_item_form_input" %>
								</div>
								<div class="form-group">
									<%= f.label :description %>
									<%= f.text_area :description, :class=>"new_item_txt" %>
								</div>
								<div class="form-group">
									<%= f.label :restaurant_name , :class => "restaurant_label" %><br />
									<%= f.text_field :restaurant_name, :class => "restaurant_autocomplete single-input-hack new_item_form_input",
									:'data-id' => @new_dish.restaurant_id, :'data-text' => @new_dish.restaurant_name  %>
								</div>
								<div class="form-group">
									<%= f.label :price %>
									<%= f.text_field :cost, :class=>"form-control new_item_form_input" ,:placeholder => "Enter in Dollars"%>
								</div>
								<div class="form-group" >
									<label for="exampleInputEmail1">Address</label>
                  <%= render :partial =>"/locations/form", :dish => @new_dish %>
								</div>
								<div class="form-group">
									<%= f.label :tag_names , :style => "padding-top: 10px;"%><br />
									<%= f.text_field :tag_names, :class => "tags_autocomplete single-input-hack new_item_form_input",
									:'data-value' => @new_dish.tags.map(&:name).join(","), :value => " " %>
								</div>
                <div class="form-group modal_rating_form">
                  <%= label_tag 'Give your rating' %>
			      <%= new_rating %>                 
                </div>
								<br/>
						</div>
				</div>
				<div class="modal-footer">
					<div class="modal_footer_down">
					<a href="#" onclick="function(){return false;}" data-dismiss="modal" class="modal_cancel">CANCEL</a>
					<button class="btn btn-success">SUBMIT REVIEW</button>
					<div>
				</div>
				<% end %>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
