<!DOCTYPE html>
<html>
<head>
	<title>Speciality</title>
	<%= csrf_meta_tags %>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag :application %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
  <%= render partial: "layouts/header" %>
  <div >
    <% flash.each do |name, msg| %>
    	<div class="alert alert-info" id="flash_#{name}" style="margin-bottom : 0px;"> <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a><%= msg %> </div>
    <% end %>
  </div>
 <!--  Current User :: <%= current_or_guest_user.name %>
  Current User Id :: <%= current_or_guest_user.id %> -->
	<%= yield %>
	<%= render partial: "layouts/modal" %>
  <%= render partial: "layouts/modal_edit" %>
</body>
<script type="text/javascript">
 	var rumbleBannerPlacement = "bottom";
  </script>
<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
</html>
