<!DOCTYPE html>
<html>
<head>
	<title>Speciality</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag :application %>
	<%= javascript_include_tag :home %>
	<%= csrf_meta_tags %>
</head>
<body>
  Current User :: <%= current_or_guest_user.name %>
  <% if current_user? %>
    <%= link_to "Sign in with twitter", user_omniauth_authorize_path(:twitter) %>
  <% else %>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <% end %>
	<%= yield %>
</body>
</html>
