<!DOCTYPE html>
<html>
<head>
	<title>Speciality</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag :application %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
  Current User :: <%= current_or_guest_user.name %>
  Current User Id :: <%= current_or_guest_user.id %>
  <% if current_user? %>
    <%= link_to "Sign in with twitter", user_omniauth_authorize_path(:twitter) %>
  <% else %>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <% end %>
	<%= yield %>
</body>
</html>
